@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
body {
  margin: 0;
  padding: 0;
}

.main-login {
  width: 100vw;
  height: 100vh;
  background-color: #201b2c;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* .left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
} */

/* .left-login > h1 {
    color: #4D4545;
} */

.right-login-image {
  width: 60%;
  padding-top: 0;
}

.right-login {
  width: 40vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-login {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background: #464646;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1 {
  color: #c49923;
  font-weight: 800;
  margin: 0;
}

.textfield {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 0px;
}

.textfield > input {
  width: 60%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #3b3a3d;
  color: #fff;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;
}

.textfield > label {
  /* color:#0f000000 ; */
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.textfield > input::placeholder {
  color: #f0ffff94;
}

.btn-login {
  width: 40%;
  padding: 16px 0px;
  margin: 25px;
  border: none;
  border-radius: 20px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 4px;
  background: #c49923;
  cursor: pointer;
  box-shadow: 0px 10px 15px -12px #ad8c2f;
}

.btn-login:hover {
  background-color: #cfae51;
}
